/********** Template CSS **********/

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

.custom-btn {
    background-color: #F2FFE9; /* Ganti dengan warna latar belakang yang diinginkan */
    color: black; /* Ganti dengan warna teks yang diinginkan */
}

.custom-btn:hover {
    background-color: #557C55; /* Ganti dengan warna latar belakang yang diinginkan saat hover */
}


img.animated.pulse {
    animation-duration: 5s;
}

/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn.btn-primary {
    color: var(--bs-white);
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Navbar ***/
.sticky-top {
    top: -150px;
    transition: .8s;
}

.navbar {
    padding: 11px 0 !important;
    height: 85px;
}


.navbar .navbar-nav .nav-link {
    margin-right: 45px;
    padding: 0;
    color: var(--bs-dark);
    font-weight: 500;
    transition: .5s;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--bs-white);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav {
        padding: 0 15px;
        background: var(--bs-primary);
    }

    .navbar .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }
}

@media (min-width: 1336px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}

#about {
    padding-top: 50px;
}


/*** Hero Header ***/
.hero-header {
    position: relative;
    margin-top: -85px;
    padding-top: 10rem;
    padding-bottom: 5rem;
    background: url(../img/bg.png) center center no-repeat;
    background-size: flex;
}

.hero-header::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .1);
    clip-path: polygon(66% 0, 100% 0, 100% 100%, 33% 100%);
}

.hero-header .container {
    position: relative;
    z-index: 1;
}

.hero-header .breadcrumb-item+.breadcrumb-item::before {
    color: var(--bs-light);
}

.abt{
    margin-bottom: 8%;
    padding-top: 9%;
    width: 100%;
}


.div .feature-item{
    width: 300%;
}

.best{
    padding-top: 8%;
}

/*** Feature ***/
.feature-item::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .1);
    clip-path: polygon(66% 0, 100% 0, 100% 100%, 33% 100%);
}

.feature-item .border {
    position: relative;
    border-color: #95D2B3 !important;
    z-index: 1;
}

.feature-item:hover {
    border-width: 0 !important;
    box-shadow: 0 0 35px #95D2B3;
}


/*** Deal ***/
.deal {
    position: relative;
    background: url(../img/bg.png) center center no-repeat;
    background-size: cover;
}

.deal::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .1);
    clip-path: polygon(66% 0, 100% 0, 100% 100%, 33% 100%);
}

.deal .bg-white {
    position: relative;
    z-index: 1;
}

.deal .cdt span {
    display: block;
    font-size: 16px;
    font-style: italic;
    font-weight: 200;
    text-transform: capitalize;
}


/*** How To Use ***/
.how-to-use {
    position: relative;
    background: url(../img/bg.png) center center no-repeat;
    background-size: cover;
}

.how-to-use::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .1);
    clip-path: polygon(66% 0, 100% 0, 100% 100%, 33% 100%);
}

.how-to-use .container {
    position: relative;
    z-index: 1;
}

.how-to-use .border {
    border-color: rgba(255, 255, 255, .2) !important;
}


/*** Product ***/

#product{
    padding-top: 50px;
}

.img-fluid.mb4{
    max-width: 100%;
}

.product-item {
    transition: .1s;
}

.product-item:hover {
    border-width: 0 !important;
    box-shadow: 0 0 50px #95D2B3;
}

.product-item:hover a.btn {
    color: var(--bs-white);
    background: var(--bs-primary);
}


/*** Testimonial ***/
.testimonial {
    position: relative;
    background: url(../img/bg.png) center center no-repeat;
    background-size: cover;
}

.testimonial::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .1);
    clip-path: polygon(66% 0, 100% 0, 100% 100%, 33% 100%);
}

.testimonial .testimonial-carousel {
    position: relative;
    z-index: 1;
}

.testimonial-carousel .owl-item img {
    width: 120px;
    height: 120px;
    border-color: rgba(255, 255, 255, .2) !important;
    margin: 0 auto 20px auto;
    border-radius: 100px;
}

.testimonial-carousel .owl-dots {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 3px solid rgba(255, 255, 255, .2);
    border-radius: 30px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--bs-dark);
}


/*** Blog ***/
.blog-item {
    transition: .1s;
}

.blog-item:hover {
    border-width: 0 !important;
    box-shadow: 0 0 35px rgba(144, 188, 121, .25);
}

.blog-item:hover a.btn {
    color: var(--bs-white);
    background: var(--bs-primary);
}


/*** Contact ***/
.contact-info-item::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .1);
    clip-path: polygon(66% 0, 100% 0, 100% 100%, 33% 100%);
}

.contact-info-item .border {
    position: relative;
    border-color: rgba(255, 255, 255, .2) !important;
    z-index: 1;
}

#cart .table th, #cart .table td {
    vertical-align: middle;
}
#cart img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}
.input-group-btn .btn {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quantity input {
    max-width: 40px;
}
.btn-md {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-total .bg-light {
    padding: 20px;
    border-radius: 10px;
}
.cart-total h1 {
    font-size: 24px;
    font-weight: 700;
}
.cart-total .border-top,
.cart-total .border-bottom {
    border-width: 2px !important;
}
.cart-total button {
    width: 100%;
}

.btn-cart{
    width: 100%;
    padding: 15px;
    background: linear-gradient(135deg, #ff758c 0%, #ff7eb3 100%);
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, transform 0.3s ease-in-out;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 1);
    margin-left: 35%;
}

button:hover {
    background: linear-gradient(135deg, #ff6f61 0%, #ff758c 100%);
    transform: scale(1.05);
}


.hj {
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding-top: 10%; 
    padding-bottom: 5%;
    position: relative;
    background: url(../img/bg.png) center center no-repeat;
    background-size: cover;
}

.order {
    width: 100%;
    max-width: 800px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 1);
    transition: transform 0.3s ease-in-out;
    background: linear-gradient(135deg, #ff9a9e 0%, #fad0c4 100%);
}

.order:hover {
    transform: translateY(-10px);
}

.order h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
    letter-spacing: 1px;
}


.form-group, .form-row {
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
}

.form-left, .form-right {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form-right select#product {
    padding: 12px;
}



.form-left label, .form-right label, .form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.form-left input, .form-right input, .form-left select, .form-right select, .form-left textarea, .form-right textarea {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 16px;
    color: #555;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.form-left input:focus, .form-right input:focus, .form-left select:focus, .form-right select:focus, .form-left textarea:focus, .form-right textarea:focus {
    border-color: #ff6f61;
    outline: none;
    box-shadow: 0 0 8px rgba(255, 111, 97, 0.4);
}

.form-left textarea, .form-right textarea {
    resize: vertical;
    height: 100px; /* Atur tinggi teks area */
}

.btn_submit{
    width: 100%;
    padding: 10px;
    background: linear-gradient(135deg, #ff758c 0%, #ff7eb3 100%);
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, transform 0.3s ease-in-out;
    justify-items: center;
    margin: 100px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8);
}

.btn_submit:hover {
    background: linear-gradient(135deg, #ff6f61 0%, #ff758c 100%);
    transform: scale(1.05);
}

ul#cart-list {
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.9);
    border-radius: 8px;
    overflow: hidden;
}
ul#cart-list li {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul#cart-list li:last-child {
    border-bottom: none;
}



/*** Footer ***/
.footer .btn.btn-link {
    display: block;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
    color: var(--bs-body);
    font-weight: normal;
    transition: .3s;
}

.footer .btn.btn-link:hover {
    color: var(--bs-primary);
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    border-top: 3px solid var(--bs-light);
}

.footer .copyright a {
    color: var(--bs-body);
}

.footer .copyright a:hover {
    color: var(--bs-primary);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 3px solid var(--bs-light);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}
